button {
  margin-top: 20px;
  font-size: .9rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #ed2945;
  color: #fff;
  width: 140px;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: all 0.3s;
  border: 3px solid #ed2945;
  font-weight: 600;
}

button:hover,
button:focus {
  outline: none;
  background: #fff;
  color: #000000;
  border: 3px solid #ed2945;
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}